
.page {
  position: relative;
  font-family: Verdana;
  padding: 0 10%;
}

.game-name {
  font-family: 'Reenie Beanie', cursive;
  font-size: 8em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  height: 75vh;
}

.description {
  display: flex;
  justify-content: center;
}

.controls {
  margin: 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 2em;
}

.author {
  text-align: center;
}

.controls * {
  margin-bottom: 10px;
}
/*Делаем границу вокруг игрового поля*/
canvas {
  border-radius: 5px;
  background: black;
  /* box-shadow: 0 0 50px gray; */
  transition: all .5s linear;
}

canvas:hover {
  background: black;
  box-shadow: 0 0 50px gray;
  cursor: none;
}

.mobile {
  display: none;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .mobile {
    display: block;
  }
  canvas, .description, .author {
    display: none;
  }
}